# Environment variables for working with the eBird API.

# The connection string for the database. The project uses a default
# connection string for an SQLite3 database in the data/databases
# directory. Set this variable if you want to connect to another database.
# For example to connect to a postgreSQL database the URL would be in
# form: postgres://<user>:<password>@<host>:<port>/<database>
# A complete list of the URLs supported can be found at
# https://django-environ.readthedocs.io/en/latest/types.html#environ-env-db-url
DATABASE_URL=

# Your key to access the eBird API, see https://ebird.org/api/keygen.
# It's set here so you don't commit it accidentally to a repository.
EBIRD_API_KEY=<your api key>

# A dict mapping languages codes used by Django to locales used by eBird.
# This used to fetch data from the eBird taxonomy so the common, and
# family names for a species can be displayed in the local language. Here
# we map the code 'en' from Django'sLANGUAGES setting, to the eBird locale,
# en_HBW, which returns species names using the English version of Handbook
# of Birds of the World.
export EBIRD_LOCALES="{"en":"en_HBW"}"
